.main {
    text-align: center;
    width: 100%;
    justify-content: space-around;
    transition: all 0.5s;
}
#current_info {
    width: 60%;
    text-align: center;
    display: grid;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0 15px;
    border-radius: 5px;
    box-sizing: border-box;

}

   

#temparature {
    font-size: 3rem;
}

#current_additional_info {
    width: 35%;
    box-sizing: border-box;
    padding: 15px;
}

@media only screen and (max-width: 896px) {

    #current_info,
    #current_additional_info {
        width: 100%;
    }
}